
@{
    ViewBag.Title = "Achievements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <h2>Achievements</h2></div>
    <div class="col-md-8">
        <p>here</p></div>
</div>

