@{
    ViewBag.Title = "BJ";
    Layout = "~/Views/Shared/_Index.cshtml";
}




<div class="section section-header">
    <img src="https://pp.vk.me/c627431/v627431199/55694/zMUA1XCDaQk.jpg" class="bj-heading " alt="">
    <div class="container">
        <div class="content">
            <h1 class="">Bullet Journal</h1>
            <h3>The best way to keep your tasks on track</h3>
            <button class=" btn btn-success" type="button">Sign up</button>
        </div>
    </div>
</div>

<div class="section section-signup" id="signup">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h1>Some text</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. \
                    Donec semper ornare nunc ac condimentum. Nam justo ante, hendrerit nec posuere ac, iaculis et dolor. Donec nulla sapien, \
                    rutrum eget tellus non, pellentesque porttitor mauris. Duis sit amet mauris eu nulla tempus finibus vel scelerisque mauris. \
                    Cras malesuada justo eu purus euismod, eu mattis nulla hendrerit. Aliquam consequat nisl eu suscipit interdum.\
                    Donec placerat orci lorem, eget vehicula turpis placerat eu.
                </p>
                <form action="" class="signup">
                    <div class="form-group">
                            <input type="text" class="form-control mail" placeholder="E-mail">
                                <ul class=" list-inline ">
                                    <li><input type="text" class="form-control passwd" placeholder="Password"></li>
                                    <li><input type="text" class="form-control passwd" placeholder="Confirm password"></li>
                                </ul>
                                <button class="btn btn-success">Sign up</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-8 col-md-8"></div>
        </div>
    </div>
</div>
