@{
    ViewBag.Title = "BJ";
    Layout = "~/Views/Shared/_Index.cshtml";
}




<div class="section section-header">
    <img src="https://pp.vk.me/c627431/v627431199/55694/zMUA1XCDaQk.jpg" class="bj-heading " alt="">
    <div class="container">
        <div class="content">
            <h1 class="">Bullet Journal</h1>
            <h3>The best way to keep your tasks on track</h3>
            <button class=" btn btn-success" type="button">Sign up</button>
        </div>
    </div>
</div>

<div class="section section-signup" id="signup">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h1>Some text</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                <p> Donec semper ornare nunc ac condimentum. Nam justo ante, hendrerit nec posuere ac, iaculis et dolor. Donec nulla sapien,</p>   
                    rutrum eget tellus non, pellentesque porttitor mauris. Duis sit amet mauris eu nulla tempus finibus vel scelerisque mauris. 
                <p>Cras malesuada justo eu purus euismod, eu mattis nulla hendrerit. Aliquam consequat nisl eu suscipit interdum.</p>  
                <form action="" role="form" class="signup form-inline">
                   
                        <input type="text" class="form-control mail" placeholder="E-mail">
                        <input type="text" class="form-control passwd" placeholder="Password">
                        <input type="text" class="form-control passwd" placeholder="Confirm password">
                        <button class="btn btn-success">Sign up</button>
                   
                </form>
            </div>
            <div class="col-lg-6 col-md-6">
                <img src="https://images.unsplash.com/photo-1435527173128-983b87201f4d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=f70d92d512ba2f6f5412c0b75a62cebf" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</div>
