@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <p>
            nav
        </p>
    </div>
    <div class="col-md-8">
        <p>
           Here must be calender
        </p>
    </div>
</div>